{{!-- Adda "remove" link for every departmentwithin in a new column of the table (at the end) -Note: The 
header for the column should not contain any text(ie: <hr></hr>).  The links in every row should be styled 
as a button (ie: class="btn btn-danger") with the text "remove" and simply link to the newly created GET
 route "departments/delete/departmentId" where departmentIdis the departmentidof the departmentin the current
  row.  Once this button is clicked, the departmentwill be deleted and the user will be redirected back to 
  the "/departments" list.(Hint: See the sample solution if you need help with the table formatting) --}}

<div class="row">
    <div class="col-md-12">
        <h2>Department</h2>
        <a href="/departments/add" class="btn btn-primary pull-right">Add New Department</a><br>
        <hr />
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Department Number</th>
      <th scope="col">Department Name</th>
    
    </tr>
  </thead>
  <tbody>
      {{#each departments}}
    <tr>
      {{!-- fixxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --}}
      <th scope="row"><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></th>
      <td><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</div>